@import "mocha.css";

* {
    border: none;
    border-radius: 0;
    font-family: CozetteHiDpi;
    font-weight: bold;
    font-size: 18px;
    min-height: 0;
    color: @text;
    padding-top: 0px;
    padding-bottom: 0px;
}

tooltip {
  border: 1px solid @sky;
}

window#waybar {
    background: transparent;
	  background-color: @base;
    opacity: 1;
}

#custom-date, #workspaces, #clock, #battery, #pulseaudio, #network, #custom-launcher, #cpu {
	padding: 0px 5px;
  margin-left: 3px;
  margin-right: 3px;
}

#custom-launcher {
  color: @lavender;
}

#custom-date {
	color: @blue;
}

#custom-power {
	color: @base;
	background-color: @red;
	border-radius: 5px;
	margin: 1px 3px;
	padding: 0px 6px;
}

#custom-power button:hover {
	background-color: @green;
}

#clock {
  color: @peach;
  /*box-shadow: inset -4px 0px;*/
}

#network {
	color: @sky;
  /*box-shadow: inset -4px 0px;*/
}

#pulseaudio {
  /*box-shadow: inset 4px 0px;*/
  color: @green;
}

#disk{
  color: @overlay0;
}


#workspaces {
	background-color: @base;
}

#workspaces button {
  padding: 1px 5px;
  margin: 3px 3px;
  background-color: @surface0;
}

#workspaces button.active label, #workspaces button:hover label {
  color: @base;
}

#workspaces button.active {
  color: @surface0;
  background-color: @mauve;
}

#workspaces button:hover {
	background-color: @green;
	color: @base;
}
