/** ********** Fonts ********** **/
* {
  font-family: "RobotoMono Nerd Font";
  font-size: 30px;
  font-weight: bold;
  background-image: none;
}

/** ********** Main Window ********** **/
window {
  background: transparent;
}

/** ********** Buttons ********** **/
button {
  color: #c0caf5;
  border:10px solid #7aa2f7;
  border-radius: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  transition: all 0.2s ease-in-out;
  margin: 50px; 
  background-color: #24283b;
}

button:hover {
  color: #a9b1d6;
  background-color: #414868;
  outline-style: none;
}

button:focus {
  border: 10px solid #9ece6a;
}

/** ********** Icons ********** **/
#lock {
  background-image: image(url("icons/lock.png"), url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
  background-image: image(url("icons/logout.png"), url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
  background-image: image(url("icons/suspend.png"), url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
  background-image: image(url("icons/hibernate.png"), url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
  background-image: image(url("icons/shutdown.png"), url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
  background-image: image(url("icons/reboot.png"), url("/usr/share/wlogout/icons/reboot.png"));
}
